# Use postgres/example user/password credentials

services:

  db:
    image: postgres
    restart: unless-stopped
    ports:
      - 5432:5432
    # set shared memory limit when using docker compose
    shm_size: 256mb
    # or set shared memory limit when deploy via swarm stack
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: test12345678
      POSTGRES_DB: main
    volumes:
      - recipes_pg_dataset:/var/lib/postgresql/18/docker
    security_opt:
      - no-new-privileges:true

  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - 8080:8080
    security_opt:
      - no-new-privileges:true

volumes:
  recipes_pg_dataset:
    driver: local

# docker compose up -d
# http://localhost:8080